<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>EnterprisePoliciesEnabled</key>
	<true/>
	<key>AppAutoUpdate</key>
	<true/>
	<key>Authentication</key>
	<dict>
		<key>AllowNonFQDN</key>
		<dict>
			<key>SPNEGO</key>
			<true/>
			<key>NTLM</key>
			<true/>
		</dict>
		<key>AllowProxies</key>
		<dict>
			<key>SPNEGO</key>
			<false/>
			<key>NTLM</key>
			<false/>
		</dict>
		<key>PrivateBrowsing</key>
		<true/>
		<key>Locked</key>
		<true/>
	</dict>
	
	  <key>AutofillAddressEnabled</key>
	  <false/>

	  <key>AutofillCreditCardEnabled</key>
	  <false/>
	  
	<key>CaptivePortal</key>
	<false/>
	<key>Certificates</key>
	<dict>
		<key>ImportEnterpriseRoots</key>
		<false/>
	</dict>

	<key>Cookies</key>
	<dict>
		<key>Behavior</key>
		<string>reject-tracker-and-partition-foreign</string>
		<key>Locked</key>
		<true/>
	</dict>

	<key>DNSOverHTTPS</key>
	<dict>
		<key>Enabled</key>
		<false/>
		<key>ProviderURL</key>
		<string>https://dns11.quad9.net/dns-query</string>
		<key>Locked</key>
		<true/>
	</dict>
	<key>DisableBuiltinPDFViewer</key>
	<false/>
	<key>DisabledCiphers</key>
	<dict>
		<key>TLS_ECDHE_ECDSA_WITH_AES_128_CBC_SHA</key>
		<true/>
		<key>TLS_ECDHE_ECDSA_WITH_AES_256_CBC_SHA</key>
		<true/>
		<key>TLS_DHE_RSA_WITH_AES_128_CBC_SHA</key>
		<true/>
		<key>TLS_DHE_RSA_WITH_AES_256_CBC_SHA</key>
		<true/>
		<key>TLS_ECDHE_RSA_WITH_AES_128_CBC_SHA</key>
		<true/>
		<key>TLS_ECDHE_RSA_WITH_AES_256_CBC_SHA</key>
		<true/>
		<key>TLS_ECDHE_RSA_WITH_AES_128_GCM_SHA256</key>
		<false/>
		<key>TLS_ECDHE_ECDSA_WITH_AES_128_GCM_SHA256</key>
		<false/>
		<key>TLS_RSA_WITH_AES_128_CBC_SHA</key>
		<true/>
		<key>TLS_RSA_WITH_AES_256_CBC_SHA</key>
		<true/>
		<key>TLS_RSA_WITH_3DES_EDE_CBC_SHA</key>
		<true/>
		<key>TLS_RSA_WITH_AES_128_GCM_SHA256</key>
		<true/>
		<key>TLS_RSA_WITH_AES_256_GCM_SHA384</key>
		<true/>
		<key>TLS_RSA_WITH_AES_256_GCM_SHA384</key>
		<true/>
	</dict>
	<key>DisableEncryptedClientHello</key>
	<false/>
	<key>DisableFeedbackCommands</key>
	<true/>
	<key>DisableFirefoxAccounts</key>
	<true/>
	<key>DisableFirefoxStudies</key>
	<true/>
	<key>DisableFormHistory</key>
	<true/>
	<key>DisableMasterPasswordCreation</key>
	<true/>
	<key>DisablePasswordReveal</key>
	<true/>
	<key>DisablePocket</key>
	<true/>
	<key>DisablePrivateBrowsing</key>
	<false/>
	<key>DisableProfileImport</key>
	<true/>
	<key>DisableSetDesktopBackground</key>
	<true/>
	<key>DisableTelemetry</key>
	<true/>
	<key>DontCheckDefaultBrowser</key>
	<true/>
	<key>MicrosoftEntraSSO</key>
	<false/>
	<key>EnableTrackingProtection</key>
	<dict>
		<key>Value</key>
		<true/>
		<key>Locked</key>
		<true/>
		<key>Cryptomining</key>
		<true/>
		<key>Fingerprinting</key>
		<true/>
		<key>EmailTracking</key>
		<true/>
		<key>SuspectedFingerprinting</key>
		<true/>
	</dict>
	<key>EncryptedMediaExtensions</key>
		<dict>
		<key>Enabled</key>
		<false/>
		<key>Locked</key>
		<false/>
	</dict>

	<key>ExtensionSettings</key>
	<dict>
		<key>uBlock0@raymondhill.net</key>
		<dict>
			<key>installation_mode</key>
			 <string>force_installed</string>
			<key>install_url</key>
			<string>https://addons.mozilla.org/firefox/downloads/latest/ublock-origin/latest.xpi</string>
		</dict>
	</dict>
	<key>FirefoxHome</key>
	<dict>
		<key>Search</key>
		<false/>
		<key>TopSites</key>
		<false/>
		<key>SponsoredTopSites</key>
		<false/>
		<key>Highlights</key>
		<false/>
		<key>Pocket</key>
		<false/>
		<key>SponsoredPocket</key>
		<false/>
		<key>Snippets</key>
		<false/>
		<key>WebSuggestions</key>
		<false/>
		<key>SponsoredSuggestions</key>
		<false/>
		<key>ImproveSuggest</key>
		<false/>
		<key>Locked</key>
		<true/>
	</dict>

	<key>HardwareAcceleration</key>
	<true/>
	<key>Homepage</key>
	<dict>
		<key>StartPage</key>
		<string>none</string>
	</dict>

	<key>HttpsOnlyMode</key>
	<string>force_enabled</string>


	<key>NetworkPrediction</key>
	<false/>
	<key>OfferToSaveLogins</key>
	<false/>	

	<key>NoDefaultBookmarks</key>
	<true/>
	<key>OfferToSaveLogins</key>
	<false/>
	<key>OfferToSaveLoginsDefault</key>
	<false/>


	<key>PasswordManagerEnabled</key>
	<false/>
	<key>PDFjs</key>
		<dict>
		<key>Enabled</key>
		<true/>
		<key>EnablePermissions</key>
		<false/>
	</dict>

	<key>Permissions</key>
	<dict>
		<key>Camera</key>
		<dict>
			<key>BlockNewRequests</key>
			<true/>
			<key>Locked</key>
			<true/>
		</dict>
		<key>Microphone</key>
		<dict>
			<key>BlockNewRequests</key>
			<true/>
			<key>Locked</key>
			<true/>
		</dict>
		<key>Location</key>
		<dict>
			<key>BlockNewRequests</key>
			<true/>
			<key>Locked</key>
			<true/>
		</dict>
		<key>Notifications</key>
		<dict>
			<key>BlockNewRequests</key>
			<true/>
			<key>Locked</key>
			<true/>
		</dict>
		<key>Autoplay</key>
		<dict>
			<key>Default</key>
				<string>block-audio-video</string>
			<key>Locked</key>
			<true/>
		</dict>
		<key>VirtualReality</key>
		<dict>
			<key>BlockNewRequests</key>
			<true/>
			<key>Locked</key>
			<true/>
		</dict>
		<key>ScreenShare</key>
		<dict>
			<key>BlockNewRequests</key>
			<true/>
			<key>Locked</key>
			<true/>
		</dict>
	</dict>
	<key>PictureInPicture</key>
	<dict>
		<key>Enabled</key>
		<false/>
		<key>Locked</key>
		<true/>
	</dict>
	<key>PopupBlocking</key>
	<dict>
		<key>Default</key>
		<true/>
		<key>Locked</key>
		<true/>
	</dict>
	<key>PostQuantumKeyAgreementEnabled</key>
	<true/>
	<key>Preferences</key>
	<dict>
		<key>accessibility.force_disabled</key>
		<dict>
			<key>Value</key>
			<integer>1</integer>
			<key>Status</key>
			<string>default</string>
			</dict>
		<key>privacy.globalprivacycontrol.enabled</key>
		<dict>
			<key>Value</key>
			<true/>
			<key>Status</key>
			<string>locked</string>
		</dict>

		<key>privacy.userContext.enabled</key>
		<dict>
			<key>Value</key>
			<true/>
			<key>Status</key>
			<string>locked</string>
		</dict>

		<key>geo.enabled</key>
		<dict>
			<key>Value</key>
			<false/>
			<key>Status</key>
			<string>locked</string>
		</dict>

		<key>browser.cache.disk.enable</key>
		<dict>
			<key>Value</key>
			<false/>
			<key>Status</key>
			<string>locked</string>
		</dict>

		<key>browser.urlbar.speculativeConnect.enabled</key>
		<dict>
			<key>Value</key>
			<false/>
			<key>Status</key>
			<string>locked</string>
		</dict>

		<key>browser.cache.memory.enable</key>
		<dict>
			<key>Value</key>
			<false/>
			<key>Status</key>
			<string>locked</string>
		</dict>

		<key>datareporting.policy.dataSubmissionEnabled</key>
		<dict>
			<key>Value</key>
			<false/>
			<key>Status</key>
			<string>locked</string>
		</dict>

		<key>geo.provider.use_corelocation</key>
		<dict>
			<key>Value</key>
			<false/>
			<key>Status</key>
			<string>locked</string>
		</dict>

		<key>keyword.enabled</key>
		<dict>
			<key>Value</key>
			<false/>
			<key>Status</key>
			<string>locked</string>
		</dict>

		<key>network.dns.disablePrefetch</key>
		<dict>
			<key>Value</key>
			<true/>
			<key>Status</key>
			<string>locked</string>
		</dict>

		<key>network.dns.disablePrefetchFromHTTPS</key>
		<dict>
			<key>Value</key>
			<true/>
			<key>Status</key>
			<string>locked</string>
		</dict>

		<key>network.http.http3.enable_kyber</key>
		<dict>
			<key>Value</key>
			<true/>
			<key>Status</key>
			<string>locked</string>
		</dict>

		<key>network.predictor.enable-prefetch</key>
		<dict>
			<key>Value</key>
			<false/>
			<key>Status</key>
			<string>locked</string>
		</dict>

		<key>network.predictor.enabled</key>
		<dict>
			<key>Value</key>
			<false/>
			<key>Status</key>
			<string>locked</string>
		</dict>

		<key>network.prefetch-next</key>
		<dict>
			<key>Value</key>
			<false/>
			<key>Status</key>
			<string>locked</string>
		</dict>

		<key>places.history.enabled</key>
		<dict>
			<key>Value</key>
			<false/>
			<key>Status</key>
			<string>locked</string>
		</dict>
		
	</dict>
	<key>PrintingEnabled</key>
	<true/>
	<key>PrivateBrowsingModeAvailability</key>
	<integer>2</integer>
	<key>Proxy</key>
	<dict>
		<key>Mode</key>
		<string>none</string>
		<key>UseProxyForDNS</key>
		<true/>
		<key>Locked</key>
		<true/>
	</dict>
	<key>RequestedLocales</key>
	<array>
		<string>en-US</string>
	</array>
	<key>SanitizeOnShutdown</key>
	<dict>
		<key>Cache</key>
		<true/>
		<key>Cookies</key>
		<true/>
		<key>FormData</key>
		<true/>		
		<key>History</key>
		<true/>
		<key>Sessions</key>
		<true/>
		<key>SiteSettings</key>
		<true/>
		<key>Locked</key>
		<true/>
	</dict>
	<key>SearchSuggestEnabled</key>
	<false/>
	<key>WindowsSSO</key>
	<false/>	

	<key>ShowHomeButton</key>
	<false/>
	<key>SSLVersionMin</key>
	<string>tls1.2</string>
	<key>SSLVersionMax</key>
	<string>tls1.3</string>

	<key>TranslateEnabled</key>
	<false/>
	<key>UserMessaging</key>
	<dict>
		<key>ExtensionRecommendations</key>
		<false/>
		<key>FeatureRecommendations</key>
		<false/>
		<key>UrlbarInterventions</key>
		<false/>
		<key>SkipOnboarding</key>
		<true/>
		<key>MoreFromMozilla</key>
		<false/>
		<key>FirefoxLabs</key>
		<false/>
		<key>Locked</key>
		<true/>
	</dict>
	<key>UseSystemPrintDialog</key>
	<true/>
	<key>WebsiteFilter</key>
	<dict>
		<key>Block</key>
		<array>
			<string>*://*.2mdn.*/*</string>
			<string>*://*.2o7.*/*</string>
			<string>*://*.3lift.*/*</string>
			<string>*://*.a-msedge.net/*</string>
			<string>*://*.aaxads.*/*</string>
			<string>*://*.ad-delivery.*/*</string>
			<string>*://*.addthis.*/*</string>
			<string>*://*.adnxs.*/*</string>
			<string>*://*.adobedtm.*/*</string>
			<string>*://*.ads.yahoo.*/*</string>
			<string>*://*.adsafeprotected.*/*</string>
			<string>*://*.adsrvr.*/*</string>
			<string>*://*.advertising.*/*</string>
			<string>*://*.amazon-adsystem.*/*</string>
			<string>*://*.amplitude.*/*</string>
			<string>*://*.app-analytics-services.*/*</string>
			<string>*://*.app-measurement.*/*</string>
			<string>*://*.app.link/*</string>
			<string>*://*.applovin.*/*</string>
			<string>*://*.atdmt.*/*</string>
			<string>*://*.bidgear.*/*</string>
			<string>*://*.bidswitch.*/*</string>
			<string>*://*.braze.*/*</string>
			<string>*://*.brightcove.*/*</string>
			<string>*://*.btloader.*/*</string>
			<string>*://*.btrll.*/*</string>
			<string>*://*.bugsnag.*/*</string>
			<string>*://*.casalemedia.*/*</string>
			<string>*://*.cedexis.*/*</string>
			<string>*://*.comscoreresearch.*/*</string>
			<string>*://*.cookielaw.org/*</string>
			<string>*://*.crashlytics.*/*</string>
			<string>*://*.criteo.*/*</string>
			<string>*://*.crwdcntrl.*/*</string>
			<string>*://*.demdex.*/*</string>
			<string>*://*.disqus.*/*</string>
			<string>*://*.doubleclick.*/*</string>
			<string>*://*.doubleverify.*/*</string>
			<string>*://*.facebook.*/*</string>
			<string>*://*.fb.*/*</string>
			<string>*://*.fbcdn.*/*</string>
			<string>*://*.fbsbx.*/*</string>
			<string>*://*.fc.yahoo.com/*</string>
			<string>*://*.footprintdns.*/*</string>
			<string>*://*.g00.*/*</string>
			<string>*://*.ga.gfycat.com/*</string>
			<string>*://*.gemini.yahoo.com/*</string>
			<string>*://*.getpocket.*/*</string>
			<string>*://*.globalsign.com/*</string>
			<string>*://*.go-mpulse.*/*</string>
			<string>*://*.google-analytics.*/*</string>
			<string>*://*.googleadapis.l.google.com/*</string>
			<string>*://*.googleadservices.*/*</string>
			<string>*://*.googlesyndication.*/*</string>
			<string>*://*.googletagmanager.*/*</string>
			<string>*://*.googletagservices.*/*</string>
			<string>*://*.gravatar.*/*</string>
			<string>*://*.heapanalytics.com/*</string>
			<string>*://*.iadsdk.apple.com/*</string>
			<string>*://*.imrworldwide.*/*</string>
			<string>*://*.indexww.*/*</string>
			<string>*://*.inmobi.*/*</string>
			<string>*://*.inscname.net/*</string>
			<string>*://*.insnw.net/*</string>
			<string>*://*.instagram.*/*</string>
			<string>*://*.janrain.com/*</string>
			<string>*://*.jwpltx.com/*</string>
			<string>*://*.kochava.com/*</string>
			<string>*://*.krxd.*/*</string>
			<string>*://*.lencr.org/*</string>
			<string>*://*.lijit.*/*</string>
			<string>*://*.litix.*/*</string>
			<string>*://*.marketo.*/*</string>
			<string>*://*.measuread.*/*</string>
			<string>*://*.media.*/*</string>
			<string>*://*.meter-svc.nytimes.*/*</string>
			<string>*://*.metrics.gfycat.com/*</string>
			<string>*://*.mixpanel.*/*</string>
			<string>*://*.moatads.*/*</string>
			<string>*://*.newrelic.*/*</string>
			<string>*://*.nr-data.*/*</string>
			<string>*://*.omtrdc.*/*</string>
			<string>*://*.onetag-sys.*/*</string>
			<string>*://*.onetrust.*/*</string>
			<string>*://*.online-metrix.*/*</string>
			<string>*://*.openx.*/*</string>
			<string>*://*.optimizely.*/*</string>
			<string>*://*.outbrain.*/*</string>
			<string>*://*.pinimg.*/*</string>
			<string>*://*.pinterest.*/*</string>
			<string>*://*.pro-market.*/*</string>
			<string>*://*.pubmatic.*/*</string>
			<string>*://*.quantserve.*/*</string>
			<string>*://*.reddit.com/api/*</string>
			<string>*://*.redditstatic.com/awards2/*</string>
			<string>*://*.redditstatic.com/desktoponboarding*</string>
			<string>*://*.redditstatic.com/icon-badge-xpost*</string>
			<string>*://*.redditstatic.com/popup-notification*</string>
			<string>*://*.rlcdn.*/*</string>
			<string>*://*.rubiconproject.*/*</string>
			<string>*://*.rvapps.io/*</string>
			<string>*://*.sail-horizon.com/*</string>
			<string>*://*.scorecardresearch.*/*</string>
			<string>*://*.segment.io/*</string>
			<string>*://*.sentry.io/*</string>
			<string>*://*.serving-sys.*/*</string>
			<string>*://*.smartadserver.*/*</string>
			<string>*://*.stack-sonar.*/*</string>
			<string>*://*.stacksocial.*/*</string>
			<string>*://*.stannum-sub.azurewebsites.net/*</string>
			<string>*://*.supersonicads.*/*</string>
			<string>*://*.taboola.*/*</string>
			<string>*://*.telemetry.mozilla.org/*</string>
			<string>*://*.tfbnw.*/*</string>
			<string>*://*.thefacebook.*/*</string>
			<string>*://*.tiktok.*/*</string>
			<string>*://*.tiktokcdn-us.*/*</string>
			<string>*://*.tiktokcdn.*/*</string>
			<string>*://*.tiktokv.*/*</string>
			<string>*://*.trafficstars.*/*</string>
			<string>*://*.use.typekit.net/*</string>
			<string>*://*.ybp.yahoo.com/*</string>
			<string>*://*.zog.link/*</string>
			<string>*://*/*/ads*</string>
			<string>*://*/*/ads/google/*</string>
			<string>*://*/*/adsby*</string>
			<string>*://*/*/adslot*</string>
			<string>*://*/*/advertis*</string>
			<string>*://*/*/amp-ad*</string>
			<string>*://*/*/amp-analytic*</string>
			<string>*://*/*/amp4ad*</string>
			<string>*://*/*/analytic*</string>
			<string>*://*/*/avatar*</string>
			<string>*://*/*/beacon*</string>
			<string>*://*/*/classifieds/*</string>
			<string>*://*/*/faceb*</string>
			<string>*://*/*/favicon*</string>
			<string>*://*/*/favicon/*</string>
			<string>*://*/*/geoip*</string>
			<string>*://*/*/getVisitorLocation/*</string>
			<string>*://*/*/gpt_and_prebid/*</string>
			<string>*://*/*/gtm*</string>
			<string>*://*/*/icon-sponsored*</string>
			<string>*://*/*/imdbads/*</string>
			<string>*://*/*/istats/*</string>
			<string>*://*/*/istats/istats*</string>
			<string>*://*/*/logging/*</string>
			<string>*://*/*/modules/idcta*</string>
			<string>*://*/*/oauth/*</string>
			<string>*://*/*/oauth2/*</string>
			<string>*://*/*/pixel*</string>
			<string>*://*/*/plugins/*</string>
			<string>*://*/*/prebid*</string>
			<string>*://*/*/premium/premium*</string>
			<string>*://*/*/showads*</string>
			<string>*://*/*/stats/*</string>
			<string>*://*/pagead/*</string>
			<string>*://*/*/subscribe/user/auth-status*</string>
			<string>*://*/*/track*</string>
			<string>*://*/*/widget/*</string>
			<string>*://*/ads*</string>
			<string>*://*/appleauth*</string>
			<string>*://*/favicon*</string>
			<string>*://*/gold/awards/icon/*</string>
			<string>*://*/gold/premium/*</string>
			<string>*://*/gtm*</string>
			<string>*://*/icon-spons*</string>
			<string>*://*/icon-sponsored*</string>
			<string>*://*/listingsignupbar*</string>
			<string>*://ads-api.twitter.com/*</string>
			<string>*://adservice.google.com/*</string>
			<string>*://alb.reddit.com/*</string>
			<string>*://analytics.google.com/*</string>
			<string>*://analytics.twitter.com/*</string>
			<string>*://api.gfycat.com/*</string>
			<string>*://api.radar.io/*</string>
			<string>*://app-measurement.com/*</string>
			<string>*://assets.gfycat.com/*</string>
			<string>*://atlas.cdn.yimg.com/*</string>
			<string>*://beacon.rum.dynapis.info/*</string>
			<string>*://beap-bc.yahoo.com/*</string>
			<string>*://c.bing.com/*</string>
			<string>*://c.brightcove.com/*</string>
			<string>*://c.msn.com/*</string>
			<string>*://csi.gstatic.com/*</string>
			<string>*://dtm.*.*/*</string>
			<string>*://fc.yahoo.com/*</string>
			<string>*://fls-na.amazon.com/*</string>
			<string>*://ga.gfycat.com/*</string>
			<string>*://geo.yahoo.com/*</string>
			<string>*://gql.reddit.com/*</string>
			<string>*://imasdk.googleapis.com/*</string>
			<string>*://imdb.com/list/*</string>
			<string>*://imdb.com/oscars/*</string>
			<string>*://imdb.com/video/embed/*</string>
			<string>*://improving.duckduckgo.com/*</string>
			<string>*://js-agent.newrelic.com/*</string>
			<string>*://mads.amazon.com/*</string>
			<string>*://mail-ads.google.com/*</string>
			<string>*://metric.gstatic.com/*</string>
			<string>*://metrics.gfycat.com/*</string>
			<string>*://mybbc.files.bbci.co.uk/*</string>
			<string>*://platform.twitter.com/*</string>
			<string>*://polling.bbc.co.uk/*</string>
			<string>*://profiles.gfycat.com/*</string>
			<string>*://push.api.bbci.co.uk/*</string>
			<string>*://reddit-image.s3.amazonaws.com/*</string>
			<string>*://s.youtube.com/*</string>
			<string>*://weblogin.gfycat.com/*</string>
			<string>ftp://*/*</string>
			<string>ws://*/*</string>
		</array>

	</dict>
</dict>
</plist>
